:host {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 0 4px 0 var(--main);
}

.main-container {
  display: flex;
  padding: 20px;
}
