@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  --main: rgba(6, 70, 99, 1);
}

.main-logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--main);
}

.github-logo {
  width: 40px;
  height: 40px;
  background-image: url('assets/octocat.jpg');
  background-size: 40px;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 425px) {
  .tablet-above {
    display: none !important;
  }
}
